@tailwind base;
@tailwind components;
@tailwind utilities;


/* RESET */

* 
{
    margin: 0;
    padding: 0;
}

/* Initialisation des assets au niveau global */ 

body {
    background-color: #F3F3F7;
    font-family: "Noto Sans", sans-serif;
}

.btn 
{
    background-color: #609A7D;
}

nav 
{
    background-color: #DC9A7D;
}

h1 {
    font-family: "Baloo Bhaina 2", sans-serif;
}

.border
{
    border-width: 0.2rem;
    border-color: #DC9A7D;
}

.underlined
{
    font-family: "Baloo Bhaina 2", sans-serif;
    border-bottom: 0.2rem solid #DC9A7D ;
}

.outerlined
{
    border-bottom: 0.1rem solid #DC9A7D ;
}

footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* HEADER */

.burger-menu 
{
    background-color: #BDB9B3;
    font-family: "Noto Sans", sans-serif;
}

/* Section AboutUs */ 
.aboutUs > p, .aboutUs > h1
{
     width: calc(80% - 10px); 
}

.presentation 
{
    width: 20rem;
    height: 12rem; 
    border-radius: 0.2rem;
}

/* Dashboard */

.toolBar
{
    width: 10rem;
}

.adminDashboard
{
    gap: 10%;
}
/* Services */

.services 
{
    background-color: #BDB9B3;
}

.services > h2
{
    font-size: 2.25rem;
}

.services > h2,
.containers > h3 
{
    font-family: "Baloo Bhaina 2", sans-serif;
}

.servicesCard,
.cards,
.adminDashboard,
.containerAdmin
{
    margin-bottom: 20rem;
}

.containers 
{
    width: 65%;
    background-color: #DC9A7D;
    border-radius: 0.2rem;
}

.containers > img
{
    max-height: 150px;
    width: 100%;
    border-radius: 0.2rem;
    object-fit: cover;
}

.containers > h3 
{
    font-size: 1.3rem; 
}

/* Formulaire d'inscription de patients */

.formInputs
{
    gap: 3rem;
}

.form 
{
    width: 45rem;
    height: 50%;
    background-color: #BDB9B3;
    border-radius: 0.3rem;
}

/* RECETTES */ 
 .imageRecipes
 {
    border-radius: 0.8rem;
    width: 35rem;
    height: 25rem;
    object-fit: cover;
 }

.recipesTitle 
{
    color:#609A7D;
    font-size: 2rem;
}
.cards 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.icons 
{
    gap: 7rem;
}

.headRecipe
{
    gap: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.allergensAndDiet 
{
    gap: 8rem;
}

/* Contact */

.containerAdmin
{
    width: 40rem;
    height: 45rem;
    border-radius: 0.2rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px)
{
    .adminDashboard
    {
        gap: 10%;
    }
}

@media screen and (min-width: 992px)
{
    .adminDashboard
    {
        gap: 15%;
    }
}

@media screen and (min-width: 1024px) {
    .menu 
    {
        background-color: #DC9A7D;
    }

    .burger-menu
    {
       background-color: #DC9A7D;
       gap: 5%;
       letter-spacing: 0.1rem;
    }
 
}

@media screen and (min-width: 1280px) {

    .aboutUs > p, .aboutUs > h1
    {
      width: calc(80% - 100px); 
      line-height: 1.8rem; 
    }

    .aboutUs > h1
    {
        font-size: 2.25rem;
    }

    .aboutUs > p 
    {
        font-size: 1.125rem;
    }

    .presentation
    {
        width: 40rem;
        height: 20rem; 
        background-color: #BDB9B3;
    }

    .photo 
    {
        width:20rem; 
        height:20rem; 
        object-fit:cover;
    }

    .servicesCard
    {
        display: flex;
        flex:wrap;
        gap: 3rem;
        justify-content: center;
    }

    .containers > img
    {
        width: 35rem;
        height: 15rem; 
    }

    .containers
    {   
        width: 25rem;
    }

    .headRecipe
    {
        flex-direction: row;
    }

    .secondPart
    {
        display: flex;
        gap: 5rem;
    }

    .toolBar
    {   
        width: 12rem;
    }

    .adminDashboard
    {
        gap: 15%;
    }

}

@media screen and (min-width: 1800px)
{
    .adminDashboard
    {
        gap: 25%;
    }

    .containerAdmin
    {
        width: 60rem;
    }
}