@tailwind base;
@tailwind components;
@tailwind utilities;


/* RESET */

* 
{
    margin: 0;
    padding: 0;
}

/* Initialisation des assets au niveau global */ 

body {
    background-color: #F3F3F7;
}

.btn 
{
    background-color: #609A7D;
}