{% block body %}

<footer class="bg-white rounded-lg shadow m-4" style="background-color: #DC9A7D;">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="{{ path('app_home') }}" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/image/Logo.jpg" alt="Flowbite Logo" style="width: 8rem;" />
            </a>
            <ul class="flex flex-wrap justify-between mb-6 text-sm font-medium sm:mb-0 dark:text-black">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Politique de confidentialité</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Mentions Légales</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="flex text-sm sm:text-center justify-center dark:text-black py-3">© 2024 <a href="https://flowbite.com/" class="hover:underline">Sandrine Coupart™</a>. Tous droits réservés.</span>
    </div>
</footer>

{% endblock %}

